CMakeFiles
Testing
/bin
/lib
/log
/distrib

docs/html
docs/latex
docs/doxyfile

cover/*.info
cover/html

inc/core/define.hpp
inc/tools/debug.hpp

Makefile
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
*.dir

libeev*

*.layout
*.depend
*.o
*.obj
*.exe
*.pot
*.mo
*.cbp
*.db
*_saved.xml
*.orig
*.rej
*_debug.xml
*.vcxproj*
*.user
*.log
