CMakeFiles
Testing
bin
lib

docs/html
docs/latex
docs/doxyfile

inc/core/version.hpp

Makefile
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake

libeev*

*.layout
*.depend
*.o
*.exe
*.pot
*.mo
*.cbp
*.db
*_saved.xml
*.orig
*.rej
